# =========================
# Maven / Gradle
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.build/
.gradle/

# =========================
# IDE / 编辑器
# =========================
*.iml
.idea/
.vscode/
*.swp
*.swo

# =========================
# OS 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# 日志 / 临时文件
# =========================
*.log
logs/
*.out

# =========================
# 环境 / 配置文件（本地）
# =========================
application-*.yml
application-*.yaml
application-*.properties

# =========================
# 依赖缓存
# =========================
/node_modules/
/.npm/
/.pnp/
/.pnp.js
